* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.clearFix {
    clear: both;
}

#mainHeader {
    background: #333;
    color: white;
}

h1 {
    text-align: center;
}

#mainNav {
    background: #ccc;
    color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
#mainNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#mainNav li {
    display: inline;
    padding: 5px 10px;
}
#mainNav li:hover {
    background: #aaa;
}
#mainNav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

#jumbo {
    background-image: url('../img/background.jpg');
    background-position: center center;
    min-height: 200px;
    text-align: center;
}
#jumbo h1 {
    color: white;
    font-size: 45px;
    padding-top: 20px;
    line-height: 1.6em;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

#main {
    float: right;
    width: 70%;
    padding: 0 30px;
}

#sidebar {
    float: left;
    width: 30%;
    padding: 10px;
    border-right: 1px solid black;
}

#mainFooter {
    background: #333;
    color: #eee;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

#pExample {
    width: 400px;
    height: 400px;
    border: 1px solid #333;
    position: relative;
}
#pExample span:first-child {
    position: absolute;
    bottom: 20px;
    right: 100px;
}
#pExample span:last-child {
    position: absolute;
    top: 100px;
    left: 30px;
}

#fixed {
    position: fixed;
    bottom: 0;
    right: 50px;
    background: #ff652f;
    padding: 5px;
}

@media (max-width: 600px) {
    #main,
    #sidebar {
        width: 100%;
        float: none;
        border: none;
    }
}

/* p {
    border-top: 5px solid blue;
    border-right: 2px dotted green;
    border-bottom: 5px dashed red;
    border-left: 2px outset yellow;
    border: 3px solid green;

    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding: 10px 20px 10px 20px; Clockwise: top, right, bottom, left
    padding: 10px 20px; top && botoom : right && left
    padding: 20px; For all

    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin: 20px 40px 20px 40px; Clockwise: top, right, bottom, left
    margin: 20px 40px; top && botoom : right && left
    margin: 40px; For all
} */
